body {
    color: #1c413c;
    background-image: url("sand.svg");
    background-color: #c6c5e7;
}

.content {
    padding: 30px;
    max-width: 600px;
    margin: auto;
}

.greay {
    color: #637573;
} 